@use '../../../App.scss' as g;

.snoopy-section {
  // padding: 40px 0;
  // margin-bottom: 40px;

  .section-title {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 64px;
    padding-left: 0;
  }

  .snoopy-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    width: 100%;

    .snoopy-card {
      aspect-ratio: 2/3;
      border-radius: 16px;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease;
      background: #fff;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
