.detail-banner {
    width: 100%;
    aspect-ratio: 1788/732;
    position: relative;

    .hero-bg {
        width: 100%;
        height: 100%;

        background-size: cover;
        background-position: center;
    }

    .detail-left {
        position: absolute;

        top: 50%;
        transform: translateY(-50%);

        width: 50%;
        height: 50%;

        padding: 4.8rem;

        display: flex;
        flex-direction: column;
        gap: 24px;

        color: #919191;
        font-weight: 700;

        .detail-title {
            height: 30%;

            img {
                height: 100%;
            }
        }

        .detail-info {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;

            font-size: 1.4rem;
            color: #b9b9b9;

            p {
                padding: 5px 9px;
                border: 2px solid #373737;
                border-radius: 4px;
            }
        }

        .detail-overview {
            width: 60%;

            font-size: 1.6rem;
            word-break: keep-all;
            overflow-wrap: break-word;
        }

        .detail-people {
            font-size: 1.2rem;

            display: flex;
            flex-direction: column;
            gap: 24px;

            div {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            div p:last-child {
                font-weight: 600;
            }
        }

        .detail-btn {
            div {
                font-size: 1.6rem;
                font-weight: 800;
                color: #000;

                padding: 16px 24px;
                background: #fff;
                border-radius: 24px;

                display: inline-block;

                cursor: pointer;
            }
        }
    }
}
