.rank-card {
    position: relative;

    display: flex;
    align-items: flex-end; // 숫자 아래 정렬
    gap: 8px;
    max-width: 255px;
    width: auto; // ⭐ swiper auto 계산용
    // flex-shrink: 0;
    text-decoration: none;
}

/* 숫자 영역 */
.rank-box {
    flex: 1;
    aspect-ratio: 1.2 / 1.9;

    display: flex;
    align-items: flex-end;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* 포스터 영역 */
.poster-box {
    flex: 5; // ⭐ 숫자 대비 포스터 비율
    aspect-ratio: 2 / 3; // 포스터 비율 유지

    position: relative;
    border: 2px solid #5c5c5c; // ⭐ border를 부모로 이동
    border-radius: 12px;
    overflow: hidden; // ⭐ 확대된 이미지 잘라내기

    transition: border-color 0.3s ease;
}

/* 실제 이미지 */
.poster-box img {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.rank-card:hover .poster-box {
    border-color: #ff153c;
}

.rank-card:hover .poster-box img {
    transform: scale(1.2); // ⭐ 이미지만 확대
}
