.rank-row {
  .rank-card {
    // margin-left: -50px;
    display: flex;
    align-items: flex-end; // 숫자 아래 정렬
    // gap: 2px;
    width: auto; // ⭐ swiper auto 계산용
    flex-shrink: 0;
    text-decoration: none;
    // margin-top: 64px;
    position: relative;

    padding-left: 60px;
  }

  /* 숫자 영역 */
  .rank-box {
    position: absolute;
    left: -110px;
    bottom: 0;
    width: 200px; // 숫자 전용 폭

    z-index: 0;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* 포스터 영역 */
  .poster-box {
    width: 248px;

    // flex: 5; // ⭐ 숫자 대비 포스터 비율
    aspect-ratio: 2 / 3; // 포스터 비율 유지

    position: relative;
    border: 2px solid #5c5c5c; // ⭐ border를 부모로 이동
    border-radius: 12px;
    overflow: hidden; // ⭐ 확대된 이미지 잘라내기

    transition: border-color 0.3s ease;

  }

  /* 실제 이미지 */
  .poster-box img {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .rank-card:hover .poster-box {
    border-color: #ff153c;
  }

  .rank-card:hover .poster-box img {
    transform: scale(1.2); // ⭐ 이미지만 확대
  }

  .rank-row {
    .rank-card {
      // margin-left: -50px;
      display: flex;
      align-items: flex-end; // 숫자 아래 정렬
      // gap: 2px;
      width: auto; // ⭐ swiper auto 계산용
      flex-shrink: 0;
      text-decoration: none;
      // margin-top: 64px;
      position: relative;

      padding-left: 60px;
    }

    /* 숫자 영역 */
    .rank-box {
      position: absolute;
      left: -24px;
      bottom: 0;
      width: 84px; // 숫자 전용 폭

      z-index: 50;
      pointer-events: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    /* 포스터 영역 */
    .poster-box {
      width: 248px;

      // flex: 5; // ⭐ 숫자 대비 포스터 비율
      aspect-ratio: 2 / 3; // 포스터 비율 유지

      position: relative;
      border: 2px solid #5c5c5c; // ⭐ border를 부모로 이동
      border-radius: 12px;
      overflow: hidden; // ⭐ 확대된 이미지 잘라내기

      transition: border-color 0.3s ease;

    }

    /* 실제 이미지 */
    .poster-box img {
      width: 100%;
      height: 100%;
      display: block;
      transform: scale(1);
      transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    // .rank-card:hover .poster-box {
    //   border-color: #ff153c;
    // }

    // .rank-card:hover .poster-box img {
    //   transform: scale(1.2); // ⭐ 이미지만 확대
    // }
  }

  .swiper-slide:hover .poster-box {
    border-color: #ff153c;
  }

  .swiper-slide:hover .poster-box img {
    transform: scale(1.2);
  }
}