
.section-6{
.pagenation-wrap {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}

.pagenation-area {
  position: relative;
  flex: 1;
  height: 2px;
}

.pagenation-line {
  width: 100%;
  height: 1px;
  background: #373737;
}

.pointer-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 3px;
  background: #ff153c;
  transition: left 0.35s ease;
}



.rank-next{
  margin-right: 24px;}
  
  .rank-prev, .rank-next {
    width: 32px;
  height: 32px;
  border: 1px solid #373737;
  border-radius: 0;
  cursor: pointer;
  
    img{
      
  width: 12px;
  height: 12px;
  }
 
  
}
}
