.ranking-wrappers {
    .pagenation-wrap {
        padding-left: 10.8rem;
        padding-right: 2.4rem;

        display: flex;
        align-items: center;
        gap: 14px;
        margin-bottom: 24px;
    }

    .pagenation-area {
        position: relative;
        flex: 1;
        height: 2px;
    }

    .pagenation-line {
        width: 100%;
        height: 1px;
        background: #373737;
    }

    .pointer-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 3px;
        background: #ff153c;
        transition: left 0.35s ease;
    }

    .nav-btn {
        display: flex;
    }

    .rank-prev,
    .rank-next {
        width: 32px;
        height: 32px;
        border: 1px solid #373737;
        border-radius: 0;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 12px;
            height: 12px;
        }
    }

    // .swiper-slide:first-child {
    //     margin-left: 108px;
    // }

    // .swiper-slide:last-child {
    //     margin-right: 108px;
    // }
}
