@mixin title-wrap {
    .title-wrap {
        position: relative;

        @include pagenation-wrap($pos: absolute, $p-b: 0, $p-l: 10.8rem);
    }
}

@mixin pagenation-wrap($pos: none, $p-b: 64px, $p-l: 0px) {
    .pagenation-wrap {
        height: 32px;
        width: 100%;
        padding-right: 24px;
        padding-left: $p-l;
        padding-bottom: $p-b;
        display: flex;
        align-items: flex-end;
        gap: 14px;

        position: $pos;
        top: 50%;
        left: 0;

        .pagenation-area {
            position: relative;
            flex: 1;

            .pagenation-line {
                height: 1px;
                width: 100%;
                background: #373737;
            }

            .pointer-line {
                position: absolute;
                top: 0;
                left: 30%;

                height: 1px;
                width: 80px;
                background: #ff153c;
            }
        }

        .nav-btn {
            display: flex;

            button {
                width: 32px;
                height: 32px;
                border: 1px solid #373737;
                border-radius: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                img {
                    width: 12px;
                    height: 12px;
                }
            }

            button + button {
                border-left: none;
            }
        }
    }
}

.mypage-wrap {
    margin: 0 0.2%;
    padding-left: 10.8rem;
    padding-top: 12rem;

    .user-info-wrap {
        width: calc(100% - 16px);
        min-width: 1100px;
        height: 216px;
        margin-right: 2.4rem;
        border-top: 1px solid #5c5c5c;
        border-bottom: 1px solid #5c5c5c;

        .user-info {
            padding: 28px 0;
            width: 100%;
            height: 100%;

            display: flex;

            > div + div {
                border-left: 1px solid #5c5c5c;
            }

            .top-title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sub-title {
                    font-size: 2rem;
                    font-weight: 700;
                    color: #fff;
                }

                .link {
                    font-size: 1rem;
                    font-weight: 600;
                    color: #a4a4a4;

                    padding: 8px;
                    border: 1px solid #a4a4a4;
                    border-radius: 4px;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        img {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }

            .user {
                width: 35%;
                height: 100%;
                padding: 12px 32px 0 16px;

                display: flex;
                flex-direction: column;

                .current-profile {
                    flex: 1;

                    display: flex;
                    align-items: center;
                    gap: 12px;

                    img {
                        width: 60px;
                        aspect-ratio: 1;
                    }

                    span {
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: #fff;
                    }
                }
            }

            .subscribe {
                width: 32.5%;
                height: 100%;
                padding: 12px 32px 0 32px;

                display: flex;
                flex-direction: column;
                gap: 20px;

                .current-subscribe {
                    flex: 1;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 8px;

                    .subscribe-info {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        img {
                            width: 24px;
                            aspect-ratio: 1;
                            object-fit: contain;
                        }

                        p {
                            font-size: 1.4rem;
                            font-weight: 800;
                            color: #919191;
                        }
                    }
                }
            }

            .cs {
                width: 32.5%;
                height: 100%;
                padding: 12px 32px 0 32px;

                display: flex;
                flex-direction: column;
                gap: 20px;

                .setting {
                    flex: 1;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 8px;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        img {
                            width: 24px;
                            aspect-ratio: 1;
                            object-fit: contain;
                        }

                        p {
                            font-size: 1.4rem;
                            font-weight: 800;
                            color: #919191;
                        }
                    }
                }
            }
        }
    }

    section {
        margin-top: 140px;
        @include title-wrap;

        .title-wrap {
            h2 {
                font-size: 3.6rem;
                font-weight: 800;
                color: #fff;
            }
        }
    }
}
