.popup-bg {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);

    z-index: 100;

    .popup-wrap {
        width: 540px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .popup-box {
        background: #282828;
        border: 1px solid #5c5c5c;
        border-radius: 12px;
        padding: 46px 16px 32px 46px;

        color: #828282;

        .title {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 24px;
            color: #fff;
        }

        .content {
            height: 618px;
            overflow-y: auto;
            padding-right: 28px;

            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: -1px;

            table {
                border-collapse: collapse;

                thead {
                    font-weight: 800;
                    td {
                        border: 1px solid #828282;
                        padding: 16px;
                        width: 33.33%;
                    }
                }

                tbody {
                    td {
                        border: 1px solid #828282;
                        padding: 16px;
                        width: 33.33%;

                        &:last-child {
                            font-weight: 800;
                            text-decoration: underline;
                            text-underline-offset: 5px;
                        }
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background: #373737;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background: #5c5c5c;
                border-radius: 4px;
            }
        }

        .button-wrap {
            display: flex;
            gap: 12px;
            justify-content: center;
            margin-top: 32px;
            button {
                padding: 12px 16px;
                border-radius: 8px;
                font-size: 1.3rem;
                font-weight: 700;

                &:first-child {
                    background: #ff153c;
                    color: #fff;
                }

                &:nth-child(2) {
                    background: #282828;
                    border: 1px solid #373737;
                    color: #828282;
                }
            }
        }

        .close {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
}
