@use '../../../App.scss' as g;

.popup-bg {
    position: fixed;
    // inset: 0;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.8);

    z-index: 1000;

    .popup-wrap {
        width: 540px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .popup-box {
        @include g.boxshadow;

        border-radius: 12px;
        padding: 46px 16px 32px 46px;

        color: #828282;

        .title {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 24px;
            color: #fff;
        }

        .content {
            padding-right: 28px;

            font-size: 1.4rem;
            font-weight: 500;
        }

        .button-wrap {
            display: flex;
            gap: 12px;
            justify-content: center;
            margin-top: 46px;
            button {
                padding: 12px 16px;
                border-radius: 8px;
                font-size: 1.3rem;
                font-weight: 700;

                &:first-child {
                    background: #ff153c;
                    color: #fff;
                }

                &:nth-child(2) {
                    background: #282828;
                    border: 1px solid #373737;
                    color: #828282;
                }
            }
        }

        .close {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
}
