.drama-detail-wrap {
  padding-top: 12rem;
}

.detail-banner {
  padding-left: 10.8rem;
  padding-right: 2.4rem;

  .hero-bg {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}
