.contents-wrap {
  padding-top: 12rem;

  .section-1 {
    padding-left: 10.8rem;
    padding-right: 2.4rem;
    margin-bottom: clamp(20px, 2.5vw, 46px);

    h2 {
      font-size: 2.6rem;
      color: #fff;
      margin-bottom: 2.4rem;
    }

    .sub-container {
      position: relative;
      min-width: 833px;
      aspect-ratio: 1788/732;
      border-radius: 1.4rem;
      background: rgb(26, 34, 61);
    }
  }

  .section-2 {
    .drama-filter {
      display: flex;
      cursor: pointer;
      color: #fff;
      gap: 10px;
      font-size: 1.6rem;
    }
  }

  .onair-list {
    display: flex;
  }

  .section-dramaSwiper {
    padding-left: 10.8rem;
    padding-right: 2.4rem;
    padding-top: clamp(20px, 2.5vw, 40px);
    padding-bottom: clamp(20px, 2.5vw, 40px);
  }
}
