.contents-wrap {
    h2 {
        font-size: 2.6rem;
        font-weight: 700;
        color: #fff;
    }

    .drama-grid {
        margin-top:32px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 16px;

        .drama-card {
            position: relative;

            display: flex;
            flex-direction: column;
            gap: 12px;

            img,
            .title-wrap {
                transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
            }

            &:hover {
                // transform: scale(1);
                z-index: 2;

                img {
                    transform: scale(1.04);
                    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);

                }

                .title-wrap {
                    transform: scale(1.04) translateY(6px);
                    background-size: 100% 100%;

                }
            }

            img {
                width: 100%;
                aspect-ratio: 2/3;
                object-fit: cover;

            }


            .title-wrap {
                width: 100%;

                background: radial-gradient(ellipse at bottom center,
                        rgba(255, 21, 60, 0.5) 0%,
                        rgba(255, 21, 60, 0.25) 45%,
                        rgba(255, 21, 60, 0.1) 65%,
                        rgba(255, 21, 60, 0) 80%);

                background-size: 100% 0%;
                background-repeat: no-repeat;
                background-position: bottom;

                transition:
                    background-size 0.3s ease,
                    transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);

                .title {
                    width: 100%;
                    transform: translateY(0);
                    transition: transform 0.25s ease;

                    color: #fff;
                    font-size: 1.6rem;
                    line-height: 1.6;

                    height: calc(2.6rem * 2);
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}