@use '../../App.scss' as e;

.edit-logo {
  display: block;
  margin: 40px 0 57px 42px;
}

.edit-title {
  text-align: center;
  h2,
  h3 {
    color: e.$text-w;
    font-weight: 900;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    display: inline-block;
    font-size: 2.1rem;
    padding: 12px 24px;
    border: 1px solid e.$line-w;
    border-radius: 0.8rem;
    margin-top: 2.1rem;
    background-color: e.$base-black;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 28%;
      transform: translate(-50%, -50%);
      width: 97%;
      height: 1px;
      background: rgba(255, 255, 255, 0.2);
      z-index: -1;
    }
  }
}

.edit-profiles {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 11.9rem;

  img {
    width: 100%;
    height: 80%;
  }
}

.profile-id,
.profile-add {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.edit-name,
.edit-btn,
.add-btn {
  color: e.$text-w;
  border: 1px solid e.$line-g;
}

.edit-name {
  font-size: 1.3rem;
  font-weight: 900;
  padding: 7.5px 15px;
  border-radius: 5px;
}

.edit-btn,
.add-btn {
  font-size: 2.25rem;
  font-weight: 800;
  padding: 15px 30px;
  border-radius: 10px;
}

.profile-add {
  p {
    width: 100px;
    height: 100px;
    border: 2px solid e.$line-w;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: e.$text-w;
    cursor: pointer;

    &::before {
      content: '+';
    }
  }
}

.back-wrap {
  display: flex;
}

.back-btn {
  color: e.$text-w;
  background-color: e.$base-red;
  padding: 22.5px 45.5px;
  font-size: 2.2rem;
  font-weight: 900;
  border-radius: 6px;
  align-items: center;
  margin: 217px auto 0;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
  }
}
