@use '../../App.scss' as e;

.edit-profile-wrappers {
    width: 100%;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    .top {
        width: 100%;
        padding: 30px 0 28px 0;
        border-bottom: 1px solid #5c5c5c;
        text-align: center;

        a {
            display: inline-block;
        }
    }

    .edit-profile-wrap {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        .edit-title {
            color: e.$text-w;
            font-size: 2.6rem;
            font-weight: 800;
        }

        .edit-select-wrap {
            position: relative;

            @include e.boxshadow;
            border-radius: 12px;

            margin-top: 25px;

            .edit-sub-title-wrap {
                position: absolute;
                top: -6%;
                left: 50%;
                transform: translateX(-50%);

                min-width: 311px;

                .edit-sub-title {
                    position: relative;

                    font-size: 2rem;
                    font-weight: 600;
                    color: e.$text-w;

                    padding: 12px 24px;
                    min-width: 312px;

                    @include e.boxshadow;
                    backdrop-filter: none;
                    border-radius: 8px;

                    &::before {
                        content: '';
                        inset: 0;

                        position: absolute;
                        left: 0;
                        top: 0;

                        background: #282828;
                        border-radius: 8px;

                        z-index: -5;
                    }
                }
            }

            .edit-profiles {
                padding: 100px 68px;

                display: flex;
                justify-content: center;
                gap: 6rem;

                .profile-id,
                .profile-id.creating {
                    width: 200px;
                    height: 264px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-between;

                    .profile-id-bottom,
                    .creating-bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1.4rem;
                    }
                }

                .edit-name {
                    font-size: 2rem;
                    font-weight: 800;
                    color: e.$text-w;
                }

                .edit-btn,
                .add-btn,
                .add,
                .creating-btn {
                    font-size: 1.2rem;
                    color: e.$text-w;

                    border: 1px solid #5c5c5c;
                    border-radius: 8px;
                    padding: 8px 20px;
                }

                img {
                    width: 170px;
                    aspect-ratio: 1;
                }

                .profile-add {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        width: 170px;
                        aspect-ratio: 1;
                        border: 2px solid e.$line-w;
                        border-radius: 50%;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-size: 6rem;
                        color: e.$text-w;
                        cursor: pointer;

                        &::before {
                            content: '+';
                        }
                    }
                }

                .creating-bottom {
                    input {
                        font-size: 1.8rem;
                        font-weight: 700;
                        height: 30px;
                        width: 100%;
                        padding-left: 8px;

                        outline: none;
                        border: none;

                        border-radius: 8px;

                        background: #282828;
                        color: #5c5c5c;

                        &::placeholder {
                            font-size: 1.6rem;
                            font-weight: 500;
                        }

                        &:focus {
                            outline: 1px solid #fff;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .back {
        width: 540px;
        height: 56px;

        border-radius: 16px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        @include e.boxshadow;

        font-size: 1.6rem;
        font-weight: 700;
        color: #a4a4a4;
    }

    .footer-line {
        height: 44px;
        border-top: 1px solid #5c5c5c;
    }
}
