@use '../../App.scss' as e;

.edit-profile-wrappers {
    width: 100%;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    .top {
        width: 100%;
        padding: 30px 0 28px 0;
        border-bottom: 1px solid #5c5c5c;
        text-align: center;

        a {
            display: inline-block;
        }
    }

    .edit-profile-wrap {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        .edit-title {
            color: e.$text-w;
            font-size: 2.6rem;
            font-weight: 800;
        }

        .edit-select-wrap {
            position: relative;

            @include e.boxshadow;
            border-radius: 12px;

            margin-top: 25px;

            .edit-sub-title-wrap {
                position: absolute;
                top: -6%;
                left: 50%;
                transform: translateX(-50%);

                .edit-sub-title {
                    position: relative;

                    font-size: 2rem;
                    font-weight: 600;
                    color: e.$text-w;

                    padding: 12px 24px;

                    @include e.boxshadow;
                    backdrop-filter: none;
                    border-radius: 8px;

                    &::before {
                        content: '';
                        inset: 0;

                        position: absolute;
                        left: 0;
                        top: 0;

                        background: #282828;
                        border-radius: 8px;

                        z-index: -5;
                    }
                }
            }

            .edit-profiles {
                padding: 100px 68px;

                display: flex;
                justify-content: center;
                gap: 8rem;

                img {
                    width: 170px;
                    aspect-ratio: 1;
                }
            }
        }
    }

    .profile-id,
    .profile-add {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    .edit-name,
    .edit-btn,
    .add-btn {
        color: e.$text-w;
        border: 1px solid e.$line-g;
    }

    .edit-name {
        font-size: 1.3rem;
        font-weight: 900;
        padding: 7.5px 15px;
        border-radius: 5px;
    }

    .edit-btn,
    .add-btn {
        font-size: 2.25rem;
        font-weight: 800;
        padding: 15px 30px;
        border-radius: 10px;
    }

    .profile-add {
        p {
            width: 100px;
            height: 100px;
            border: 2px solid e.$line-w;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            color: e.$text-w;
            cursor: pointer;

            &::before {
                content: '+';
            }
        }
    }

    .back-wrap {
        display: flex;
    }

    .back-btn {
        color: e.$text-w;
        background-color: e.$base-red;
        padding: 22.5px 45.5px;
        font-size: 2.2rem;
        font-weight: 900;
        border-radius: 6px;
        align-items: center;
        margin: 217px auto 0;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 87%;
            transform: translate(-50%, -50%);
            width: 97%;
            height: 1px;
            background: rgba(255, 255, 255, 0.2);
        }
    }

    .back {
        width: 540px;
        height: 56px;

        border-radius: 16px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        @include e.boxshadow;

        font-size: 1.6rem;
        font-weight: 700;
        color: #a4a4a4;
    }

    .footer-line {
        height: 44px;
        border-top: 1px solid #5c5c5c;
    }
}
