.main-wrap {
    // padding-left: 10.8rem;
    padding-top: 12rem;
    max-width: 1920px;
    // margin: 0 auto;

    // .section-title {
    //     font-size: 3.6rem;
    //     font-weight: 800;
    //     color: #fff;

    //     position: relative;
    //     z-index: 5;
    // }

    .section-1 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;

        h2 {
            font-size: 2.6rem;
            font-weight: 700;
            color: #fff;
            margin-bottom: 2.4rem;
        }

        .main-container {
            min-width: 833px;
            // aspect-ratio: 149/61;
            aspect-ratio: 1788/732;
            // background: rgb(149, 113, 113);
        }
    }

    .section-2 {
        padding-left: 10.8rem;
        padding-top: 8.8rem;

        max-width: 1920px;
    }

    .section-4 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 9.2rem;
        padding-bottom: 6rem;
    }

    .section-5 {
        //    padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .section-6 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .section-7 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .section-8 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
    }

    .section-9 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .section-10 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
    }

    .section-11 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .section-12 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
    }

    .section-13 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .section-14 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .section-15 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
    }

    .section-16 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }



}