@mixin title-wrap {
    .title-wrap {
        position: relative;

        @include pagenation-wrap($pos: absolute, $p-b: 0, $p-l: 10.8rem);
    }
}

@mixin pagenation-wrap($pos: none, $p-b: 64px, $p-l: 0px) {
    .pagenation-wrap {
        height: 32px;
        width: 100%;
        padding-right: 24px;
        padding-left: $p-l;
        padding-bottom: $p-b;
        display: flex;
        align-items: flex-end;
        gap: 14px;

        position: $pos;
        top: 50%;
        left: 0;

        .pagenation-area {
            position: relative;
            flex: 1;

            .pagenation-line {
                height: 1px;
                width: 100%;
                background: #373737;
            }

            .pointer-line {
                position: absolute;
                top: 0;
                left: 30%;

                height: 1px;
                width: 80px;
                background: #ff153c;
            }
        }

        .nav-btn {
            display: flex;

            button {
                width: 32px;
                height: 32px;
                border: 1px solid #373737;
                border-radius: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                img {
                    width: 12px;
                    height: 12px;
                }
            }

            button+button {
                border-left: none;
            }
        }
    }
}

.main-wrap {
    // padding-left: 10.8rem;
    padding-top: 12rem;

    hr {
        border: none;
        height: 1px;
        background: #5c5c5c;
    }

    .section-title {
        font-size: 2.6rem;
        font-weight: 700;
        color: #fff;

        position: relative;
        z-index: 5;
    }

    .section-1 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        margin-bottom: clamp(20px, 2.5vw, 46px);

        h2 {
            font-size: 2.6rem;
            font-weight: 700;
            color: #fff;
            margin-bottom: 2.4rem;
        }

        .main-container {
            min-width: 833px;
            // aspect-ratio: 149/61;
            aspect-ratio: 1788/732;
            // background: rgb(149, 113, 113);
        }
    }

    .section-2 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);

        overflow-x: hidden;

        border-top: 1px solid #373737;
        border-bottom: 1px solid #373737;
        }
    

    .section-3 {
        padding-left: 10.8rem;
        padding-top: 112px;}

      

    .section-4 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);
    }

    .section-5 {
        width: 100%;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);

        .title-wrap {
            padding-left: 10.8rem;
        }
    }

    .section-6 {
        margin-left: 6.5rem;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);
    }

     .section-7 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);
    }

    .section-9 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);

    }

    .section-11 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);

    }

    .section-13 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);
    }

    .section-14 {
         margin-left: 6.5rem;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);
    }

     .section-16 {
        padding-left: 10.8rem;
        padding-right: 2.4rem;
        padding-top: clamp(20px, 2.5vw, 40px);
        padding-bottom: clamp(20px, 2.5vw, 40px);
    }



}