@use '../../App.scss' as common;

.main-wrap {

  .inner {
    @include common.inner;

    .section-title{
      @include common.section-title;
      transform: translateY(16px);
    }

    .section-1 {
      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 2.4rem;
      }

      .main-container {
        min-width: 833px;
      }
    }

    .section-2 {
      padding-top: 9.2rem;
      padding-bottom: 6rem;
    }

    .section-3 {

    }

    .section-4,
    .section-5,
    .section-6,
    .section-7,
    .section-8,
    .section-9,
    .section-10,
    .section-11,
    .section-12,
    .section-13,
    .section-14,
    .section-15,
    .section-16,
    .section-17 {
      padding-top: 7.2rem;
      padding-bottom:3.2rem;
    }

    // .section-5 {
    //   padding-top: 6rem;
    //   padding-bottom: 6rem;
    // }

    // .section-6 {
    //   padding-top: 6rem;
    //   padding-bottom: 6rem;
    // }

    // .section-7 {
    //   padding-top: 6rem;
    //   padding-bottom: 6rem;
    // }

    // .section-8 {
    //   padding-top: 7.2rem;
    //   padding-bottom: 7.2rem;
    // }

    // .section-9 {
    //   padding-top: 6rem;
    //   padding-bottom: 6rem;
    // }

    // .section-10 {
    //   padding-top: 7.2rem;
    //   padding-bottom: 7.2rem;
    // }

    // .section-11 {
    //   padding-top: 6rem;
    //   padding-bottom: 6rem;
    // }

    // .section-12 {
    //   padding-top: 7.2rem;
    //   padding-bottom: 7.2rem;
    // }

    // .section-13 {
    //   padding-top: 6rem;
    //   padding-bottom: 6rem;
    // }

    // .section-14 {
    //   padding-top: 6rem;
    //   padding-bottom: 6rem;
    // }

    // .section-15 {
    //   padding-top: 7.2rem;
    //   padding-bottom: 7.2rem;
    // }

    // .section-16 {
    //   padding-top: 6rem;
    //   padding-bottom: 6rem;
    // }
  }
}