.join-wrappers {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .top {
        width: 100%;
        padding: 44px 0;
        border-bottom: 1px solid #5c5c5c;
        text-align: center;

        a {
            display: inline-block;
        }
    }

    .join-wrap {
        flex: 1;
        min-height: 678px;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 2rem;
            color: #fff;
            text-align: center;
        }

        .join-box {
        }
    }

    .footer-line {
        height: 44px;
        border-top: 1px solid #5c5c5c;
    }
}
