@use './../../App.scss' as g;

.subscription-wrappers {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;

    .top {
        position: fixed;

        width: 100%;
        padding: 30px 0 28px 0;
        border-bottom: 1px solid #5c5c5c;
        text-align: center;

        background: #282828;

        a {
            display: inline-block;
        }
    }

    .ad-banner {
        width: 100%;
        height: 280px;
        background: #fdcad2;

        margin-top: 93px;

        text-align: center;

        img {
            margin: 0 auto;
            height: 100%;
        }
    }

    .select-section {
        position: sticky;
        top: 93px;

        width: 100%;
        padding: 28px 0 20px 0;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        background: #282828;

        button {
            font-size: 1.6rem;
            font-weight: 800;
            color: #828282;

            padding: 16px 24px;
            border-radius: 24px;
            @include g.boxshadow;
        }
    }

    .subscription-wrap {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        .select-wrap {
            // margin-top: 473px;
            width: 100%;

            section {
                width: 100%;
                padding: 0 108px;

                .title-wrap {
                    padding-top: 60px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #373737;

                    h2 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 12px;

                        height: 28px;

                        font-size: 2.4rem;
                        font-weight: 800;
                        color: #fff;

                        img {
                            height: 24px;
                        }

                        .disney-logo {
                            height: 52px;
                            margin-bottom: 16px;
                        }
                        span {
                            font-size: 1.2rem;
                            color: #828282;
                        }
                    }
                }

                .subscription {
                    margin-top: 64px;
                    margin-bottom: 48px;
                    width: 100%;
                    display: flex;
                    gap: 24px;
                    align-items: center;
                    justify-content: center;

                    div {
                        cursor: pointer;

                        &:hover {
                            .select {
                                background: #ff153c;
                                border-color: #ff153c;

                                .select-top {
                                    .title {
                                        color: #fff;
                                    }
                                    .price-wrap {
                                        .cost {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }

                        .select {
                            width: 264px;
                            height: 486px;

                            border-radius: 14px;
                            border: 2px solid #373737;
                            background: #373737;

                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .select-top {
                                height: 23%;

                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: 12px;

                                .title {
                                    font-size: 1.4rem;
                                    font-weight: 800;
                                    color: #828282;
                                }

                                .price-wrap {
                                    text-align: center;
                                    .price {
                                        font-size: 2.4rem;
                                        font-weight: 800;
                                        color: #fff;
                                    }
                                    .cost {
                                        font-size: 1.2rem;
                                        font-weight: 700;
                                        text-decoration: line-through;
                                        color: #828282;
                                        margin-top: 4px;
                                    }
                                }
                            }

                            .select-content {
                                height: 66%;
                                width: 100%;

                                padding-top: 32px;

                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 8px;

                                background: #282828;

                                // font-size: 1.6rem;
                                color: #fff;

                                .img-wrap {
                                    display: flex;
                                    gap: 20px;

                                    img {
                                        width: 50px;
                                        aspect-ratio: 1;
                                        margin-bottom: 20px;
                                    }
                                }

                                p {
                                    // font-size: 1.8rem;
                                    font-size: 1.6rem;
                                    font-weight: 700;
                                }

                                .plus {
                                    font-size: 1.2rem;
                                }
                            }

                            .select-bottom {
                                height: 11%;
                                width: 100%;

                                text-align: center;
                                padding: 16px 0 20px 0;
                                font-size: 1.6rem;
                                font-weight: 800;
                                color: #fff;
                                background: #373737;
                                border-radius: 0 0 12px 12px;
                            }
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 32px;
                }
            }
        }
    }

    .footer-line {
        height: 44px;
        border-top: 1px solid #5c5c5c;
    }
}
