.rank-content-card{
    max-height: 308px;
    height:100%;

    width:auto;
    display:flex;
    align-items: flex-end;

    .poster-box{
        width:204px;
        height:308px;
        height:100%;

        img{
            width:100%;
            height:100%;
        }
    }
    
}