@use '../../App.scss' as p;

.profile-dropdown {
    position: relative;

    height: 100%;

    .current-profile {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        // padding: 8px 12px;
        border-radius: 4px;

        position: relative;

        &::before {
            content: '';
            position: absolute;
            background: #555555;

            border-radius: 12px;

            top: -4px;
            bottom: -4px;
            left: -8px;
            right: -8px;

            z-index: -1;

            opacity: 0;
        }

        &:hover::before {
            opacity: 1;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        // span {
        //     color: p.$text-w;
        //     font-size: 1.4rem;
        // }

        // .arrow {
        //     margin-left: 4px;
        //     font-size: 1rem;
        // }
    }

    .dropdown-menu {
        position: absolute;
        top: calc(100% + 8px);
        right: -8px;

        // background: rgba(40, 40, 40, 0.6);
        background: rgb(40, 40, 40);
        backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

        // background: rgba(40, 40, 40, 0.8);
        border-radius: 8px;
        width: fit-content;
        min-width: 200px;
        max-width: 240px;
        padding: 12px 0;
        // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        padding: 8px 4px;
        display: inline-block;
        z-index: 1000;

        border: 1px solid #555555;

        .profile-list {
            .profile-item {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 12px;
                padding: 12px 4px;
                cursor: pointer;
                position: relative;
                white-space: nowrap;
                border-radius: 4px;

                &:hover {
                    background: #555555;
                }

                &.active {
                    .check {
                        opacity: 1;
                    }
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                span {
                    color: p.$text-w;
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .check {
                    position: absolute;
                    left: 20px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(0, 0, 0, 0.6);
                    border-radius: 50%;
                    opacity: 0;
                    font-size: 1.8rem;
                    color: p.$text-w;
                }
            }
        }

        .dropdown-actions {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            margin-top: 8px;
            padding-top: 8px;

            a,
            button {
                display: block;
                width: 100%;
                padding: 12px 20px;
                text-align: center;
                border: none;
                background: transparent;
                color: p.$text-w;
                font-size: 1.4rem;
                font-weight: 500;
                cursor: pointer;
                border-radius: 4px;

                &:hover {
                    background: #555555;
                }
            }

            .logout-btn {
                margin-top: 8px;
            }

            button {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}
