@use '../../App.scss' as h;

header {
  font-size: 1.6rem;
  font-weight: 400;
  color: h.$text-w;

    .aside-header {
        position: fixed;

        background: rgba(40, 40, 40, 0.6);
        backdrop-filter: blur(10px);
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

        // background: h.$base-black;

        height: 100vh;
        width: 84px;
        font-size: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

        // border-right: 1px solid #333;
        transition: width 0.2s ease;

    z-index: 500;

        &.isOpen {
            width: 200px;
            background: rgba(40, 40, 40, 0.8);
            backdrop-filter: blur(8px);

      .side-menu span {
        display: block;
        opacity: 1;
        transform: translateX(0);
      }

            .logo .logo-wrap a.open {
                .logo-main {
                    opacity: 0;
                }
                .logo-small {
                    display: block;
                    opacity: 1;
                }
            }
        }

    .logo {
      margin-top: 45px;
      margin-bottom: 144px;
      width: 100%;
      height: 28px;

      .logo-wrap {
        position: relative;
        display: flex;
        align-items: center;
        height: 28px;
        margin-left: 24px;
        transition: opacity 0.25s ease-in;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 28px;
          transition: opacity 0.1s ease;
        }

                .logo-main {
                    margin-top: 0.5px;
                    height: 27px;
                    opacity: 1;
                }
                .logo-small {
                    display: none;
                    opacity: 0;
                }

        & a.open {
          .logo-main {
            opacity: 0;
          }
          .logo-small {
            height: 28px;
            opacity: 1;
          }
        }
      }
    }

    .side-menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      li {
        &:not(.setting-icon) {
          margin-bottom: 40px;
        }

        &.setting-icon {
          margin-bottom: 45px;
          margin-top: auto;
        }

        a {
          display: flex;
          align-items: center;
          gap: 16px;
          padding-left: 30px;
        }

        span {
          display: none;
          opacity: 0;
          white-space: nowrap;
          transform: translateX(-10px);
          transition: opacity 0.25s ease, transform 0.25s ease;
        }

        img {
          transition: all 0.25s ease;
        }

        &:hover a {
          font-weight: 700;
          filter: brightness(1.3);

          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }

    .top-header {
        position: fixed;
        top: 0;
        left: 84px;
        width: calc(100% - 84px);

        background: rgba(40, 40, 40, 0.6);
        backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

        // background: #282828;

        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        z-index: 100;

        display: flex;
        padding: 40px 24px 20px 24px;

    justify-content: space-between;
    align-items: flex-start;

        &.fixed-header {
            position: fixed;
            top: 0;
            left: 84px;

            height: auto;

            .top-show {
                opacity: 0;
            }
        }

        &.hidden {
            transform: translateY(-94%);
            opacity: 1;
            pointer-events: auto;
        }

        &.visible {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;

            .top-show {
                opacity: 0;
            }
        }

        .header-left {
            width: 68.1%;
            display: flex;

            .main-menu {
                width: 426px;
                height: 36px;

        display: flex;
        align-items: center;
        gap: 28px;

                li a {
                    position: relative;

                    display: inline-block;
                    font-weight: 700;
                }

                li a::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -8px;
                    width: 100%;
                    height: 2px;
                    background: #ff153c;
                    opacity: 0;
                    transition: opacity 0.25s ease;
                }

                li:hover a {
                    font-weight: 800;
                    color: #ff153c;
                }

                li:hover a::after {
                    opacity: 1;
                }
            }

            .search {
                position: relative;
                margin-left: 16px;
                height: 36px;
                width: 100%;
                min-width: 330px;
                max-width: 432px;

                .search-action {
                    position: absolute;
                    left: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;

                    cursor: pointer;
                }

                .search-box {
                    position: relative;
                    display: flex;
                    align-items: center;

                    width: 100%;
                }

                input {
                    width: 100%;
                    height: 36px;
                    padding-left: 38px;

                    background: #282828;
                    border: 1px solid #ff153c;
                    border-radius: 8px;
                    outline: none;

                    color: #fff;
                }

                .search-close {
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .user {
            > div {
                display: flex;
                align-items: center;
                font-size: 1.3rem;
                font-weight: 400;
            }

            .login-before {
                gap: 12px;
                line-height: 1;
                vertical-align: middle;

                div p {
                    padding-bottom: 1.5px;
                }

                div a {
                    width: 92px;
                    height: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .login {
                    border: 1px solid h.$line-w;
                    border-radius: 4px;
                    box-sizing: border-box;

                    color: h.$text-w;

                    &:hover a {
                        font-weight: 700;
                    }
                }

                .join {
                    background: h.$base-red;
                    border: 1px solid h.$base-red;
                    border-radius: 4px;

                    color: #fff;

            &:hover a {
              font-weight: 700;
            }
          }
        }
        .login-after {
          gap: 12px;

          button {
            //   display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid h.$line-w;
            border-radius: 4px;
            background: transparent;
            color: h.$text-w;
            font-size: 1.3rem;
            cursor: pointer;

            &:hover {
              font-weight: 700;
            }
          }
        }
      }
    }

        .top-show {
            opacity: 1;
            transition: opacity 0.2s ease;

            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);

            // background: #282828;

            background: rgba(40, 40, 40, 0.6);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

            padding: 8px 10px;
            border-top: none;
            border-radius: 0 0 8px 8px;
        }
    }
}
