

@use '../App.scss' as g;

.youtube-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 14, 22, 0.70);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modalFadeIn 0.22s;
}

@keyframes modalFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.youtube-modal__content {
  position: relative;
  background: linear-gradient(135deg, #232a3a 80%, #181c24 100%);
  border-radius: 12px;
  @include g.boxshadow;
  // padding-top: 10px;
  margin-top: 10px;
  max-width: 100vw;
  width: 75vw;
  height: 79vh;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: modalPopIn 0.25s cubic-bezier(.4,1.6,.6,1);
}

.youtube-modal__video-box {
  width: 70vw;
  height: 70vh;
  max-width: 100vw;
  max-height: 200vh;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  @include g.boxshadow;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@keyframes modalPopIn {
  from { transform: scale(0.92); opacity: 0.7; }
  to { transform: scale(1); opacity: 1; }
}


.youtube-modal__close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 3rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 2;
  font-weight: 700;
  // text-shadow: 0 2px 16px #000, 0 0 4px #e50914;
  padding: 8px 20px;
  border-radius: 50%;
  transition: color 0.18s, transform 0.18s, background 0.18s;
  line-height: 1;
}
.youtube-modal__close:hover {
  color: #e50914;
  // background: #e50914;
  transform: scale(1.18) rotate(8deg);
}

iframe {
  width: 70vw;
  height: 70vh;
  max-width: 100vw;
  max-height: 100vh;
  border: none;
  display: block;
  background: #000;
  border-radius: 0;
}


