.v-only {
  display: flex;
  // gap: 32px;
  gap: 96px;
  // padding: 40px 0 40px 10.8rem;
  padding: 5.2rem 0 5.2rem 8rem;
  border-radius: 12px;
  background: linear-gradient(295deg, rgba(255, 21, 60, 0.50) -42.62%, rgba(255, 21, 60, 0.40) -25.5%, rgba(255, 21, 60, 0.30) -8.39%, rgba(255, 21, 60, 0.10) 8.73%, rgba(255, 21, 60, 0.20) 25.84%, rgba(255, 21, 60, 0.30) 42.95%, rgba(255, 21, 60, 0.40) 60.07%, rgba(255, 21, 60, 0.50) 77.18%, rgba(255, 21, 60, 0.40) 100%);
  width: 100%;



  .v-only-info {
    width: 280px;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .logo {
      width: 150px;
      // margin-bottom: 12px;
      margin-bottom: 20px;
    }

    p {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 16px;
    }

    .more-btn {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      padding: 6px 12px;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  .v-only-slider {
    // flex: 1;
    width:80%;
    overflow: hidden;
    position: relative;

    .v-only-card-wrapper {
      display: flex;
      align-items: flex-end;
      gap: 8px;
      text-decoration: none;


      .rank-box {
        width: 83px;
        flex-shrink: 0;
        height: auto;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .v-only-card {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        transition: border-color 0.3s ease;


        img {
          display: block;
          border-radius: 12px;
          transition: transform 0.4s ease;
          width: 220px;
          height: auto;
        }


      }

      &:hover .v-only-card {
        border-color: #ff153c;
      }

      &:hover .v-only-card img {
        transform: scale(1.1); // badge는 고정, 이미지만 확대
      }
    }

    /* 네비게이션 스타일 */
    .v-only-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      z-index: 10;
      pointer-events: none;
    }

    .nav-btn {
      width: 120px;
      height: 120px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      pointer-events: auto;
      opacity: 0;
      transition: opacity 0.25s ease, transform 0.3s ease;

    }

    .nav-btn.prev {

      // margin-left: 0px;
      margin-left:-40px;

      img {

        width: 36px
      }

      ;
    }



    .nav-btn.next {
      margin-right: -40px;

      img {
        width: 36px
      }

      ;
    }

    .nav-btn:hover {
      //   background: rgba(255, 21, 60, 0.8);
      border-color: #fff;
      transform: scale(1.1);
      opacity: 1;
    }
  }
}