.swiper-wrap {
    height: auto;

    :global {
    .swiper-container {
      overflow: hidden;
    }
    
    .swiper-slide {
      // 여기서 슬라이드 크기를 조절하면 됩니다!
      width: auto; 
      height: 320px;
    }
  }
}

