// -------영문 폰트-------

// -------NanumSquare Neo 폰트--------

// ---------공통사항----------
// html{
//   font-size:
// }

// body{
//   font-family: ;
//   font-weight: ;
// }

ul,
ol {
  list-style: none;
}

// img,video{
//   max-width: 100%;
//   height: auto;
//   display: block;
// }

button {
  cursor: pointer;
}

// .inner{
//   max-width: ;
//   margin: 0 auto;
// }

// ---------컬러 가이드---------
$base-red: #ff153c;
$base-black: #282828;
$text-w: #fff;
$line-w: #fff;
$line-g: #3d3d3d;

// ----------mixin-----------
// @mixin flex($jc: space-between, $ai: center, $gap) {
//   display: flex;
//   justify-content: $jc;
//   align-items: $ai;
//   gap: $gap;
// }

// @mixin font($fs: 1.6rem, $fw: 400, $color: $base) {
//   font-size: $fs;
//   font-weight: $fw;
//   color: $color;
// }
