// ---------공통사항----------
// .inner{
//   max-width: ;
//   margin: 0 auto;
// }

// ---------컬러 가이드---------
$base-red: #ff153c;
$base-black: #282828;
$text-w: #fff;
$line-w: #fff;
$line-g: #3d3d3d;

// ----------mixin-----------
// @mixin flex($jc: space-between, $ai: center, $gap) {
//   display: flex;
//   justify-content: $jc;
//   align-items: $ai;
//   gap: $gap;
// }

// @mixin font($fs: 1.6rem, $fw: 400, $color: $base) {
//   font-size: $fs;
//   font-weight: $fw;
//   color: $color;
// }

@mixin boxshadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 12px rgba(255, 255, 255, 0.1) inset;

    backdrop-filter: blur(100px);

    background: conic-gradient(
        from 135deg at 50% 50%,
        rgba(255, 255, 255, 0.05) 0deg,
        rgba(0, 0, 0, 0.03) 90deg,
        rgba(255, 255, 255, 0.05) 180deg,
        rgba(0, 0, 0, 0.03) 270deg,
        rgba(255, 255, 255, 0.05) 360deg
    );

    border: 1px solid rgba(255, 255, 255, 0.2);
}
