@import './nanumsquareneo.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'NanumSquareNeo', 'sans-serif';
    font-size: 10px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #282828;
}

img,
video {
    display: block;
}

em,
i,
address {
    font-style: normal;
}

.hidden {
    position: absolute;
    left: -99999px;
}

button {
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
    border-radius: 8px;
    cursor: pointer;
}
