@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 400;
  src: url('/font/NanumSquareNeoTTF-bRg.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 700;
  src: url('/font/NanumSquareNeoTTF-cBd.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 800;
  src: url('/font/NanumSquareNeoTTF-dEb.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 900;
  src: url('/font/NanumSquareNeoTTF-eHv.woff2') format('woff2');
  font-display: swap;
}
